
<tr>
	<td><%= service.name %></td>
	<td align="right"><%= sprintf("%4.2f", service.price) unless service.price == nil %></td>
</tr>
<% if service.description != '' %>
<tr class="table_subtitle">
	<td colspan="2"><%= service.description %></td>
</tr>
<% end %>


