<%= provide(:title, 'About') %>

<div class="center hero-unit">
	<h2>About  Madrilla</h2>

	<div class="about_div">
		<div class="about_img">
			<%= image_tag "andrewp.jpg" %>
			Andrew Pierce
		</div>
		<p>
			Madrilla is a way for Salons to provide online appointment
			booking for their clients. Founded in 2012, Madrilla was
			established to help busy stylists not only get their appointments
			created online by their clients, but to get more appointments
			and new clients.
		</p>

		<p>
			Madrilla was created by Andrew Pierce, an independent software
			developer, that just can't stop learning new technology and 
			developing applications. Oh, and his beautiful wife Bonnie is also
			an incredible hair stylist.
		</p>

	</div>
		<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

