
<h2>Frequently Asked Questions</h2>

<ul>

	<li><a href="#q1">What is Mardrilla?</a></li>
	<li><a href="#q2">Can I add a salon to Madrilla?</li>
	<li><a href="#q3">How do I book an appointment?</li>
	<li><a href="#q4">Why can't I find my stylist?</li>
	<li><a href="#q5">Does it cost anything to book an appointment?</a></li>
</ul>

<p>
	Don't see what you are looking for here? Use
	our <%= link_to "Contact", contact_path %>
	page to send us a question.
</p>

<hr/>

<div id="faqs">
<dl>
	<a name="q1"></a>
	<dt>What is Madrilla?</dt>
	<dd>
		Madrilla is a web site for online salon appointment booking.
		Stylists and salons can receive appointment bookings and
		clients can easily book an appointment anytime, day or night,
		online.
	</dd>

	<a name="q2"></a>
	<dt>Can I add a salon to Madrilla?</dt>
	<dd>
		Not quite yet. We are still in beta test mode and polishing
		the site. Very soon we will be accepting new salons by invitation.
		Soon after we'll open up the site to all salons.
	</dd>

	<a name="#q3"></a>
	<dt>How do I book an appointment?</dt>
	<dd>
		To book an appointment:
		<ul>
			<li>Click the Salons link to select a salon</li>
			<li>Once you have selected a salon, click the 
				"Book an appointment" button on the salon page.
			</li>
			<li>Select a stylist from list of stylists at your salon</li>
			<li>Select the date and time of your appointment</li>
			<li>Submit your request.</li>
		</ul>
		That's it! If the date and time work for your stylist, you'll
		get an email confirmation from your stylist. For a more detailed
		description, see our main <%= link_to "help page", help_path %>.
	</dd>

	<a name="#q4"></a>
	<dt>Why can't I find my stylist?</dt>
	<dd>
		It's quite possible (for now) that your stylist and salon
		aren't signed up to use Madrilla for their online appointment
		bookings. Do them, us, and yourself a favor by suggesting to 
		them that they sign up! You can also use our 
		<%= link_to "Contact Form", contact_path %> to send us a message
		with their contact information and we'll reach out to them.
	</dd>

	<a name="#q5"></a>
	<dt>Does it cost anything to book an appointment?</dt>
	<dd>
		Not a cent! Bookings are free to clients. Salons 
		pay a small subscription fee to list their salon 
		and stylists on Madrilla.
	</dd>

</dl>

</div>
