<%= provide(:title, 'Help') %>

<div class="center hero-unit">
	<h1>Welcome to  <%= yield(:title) %></h1>

	<h2>Welcome to SalonSense.</h2>
	<p>Book an appointment today with your stylist</p>
	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

