<% if flash[:error] %>
  <p class='error'>The error is: <%= flash[:error] %></p>
<% end %>

<div class="hero-unit flashy">
  <div class="shaded-background">
  	<h1>Madrilla</h1>

  	<h2>Easy Salon Appointment Booking</h2>
  	<p>Book an appointment today with your stylist</p>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    <hr>
    <%= render :template => 'sessions/new' %>
  </div>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>For Clients</h2>
    <p>Madrilla makes it easy for clients to setup an appointment with their favorite
    	stylist. Submit an appointment request, your stylist gets notified and confirms it
    	with you, all online. Easy peasy!</p>
  </div>
  <div class="span4">
    <h2>For Stylists</h2>
    <p>Stylists are busy people! You don't always have time to answer the phone. When 
    	you register with Madrilla, your clients can find you and
    	book appointments any hour of the day or night. Just click to confirm and get
    	back to what makes you money! Click &amp; cut!
    </p>
 </div>
  <div class="span4">
    <h2>For Salons</h2>
    <p>
    	Salons can use Madrilla for their online appointment booking. Sign up, register
    	your stylists and you're good to go! If you have a web site, you can use our simple
    	API that keeps clients at your web site for the entire booking process. Love it!
    </p>
  </div>
</div>

