<div class="center hero-unit">
	<h1>Welcome to Madrilla</h1>

	<h2>Easy Salon Appointment Booking</h2>
	<p>Book an appointment today with your stylist</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

