/.bundle
/.DS_Store

/db/*.sqlite3

/log/*.log
/tmp

/public/uploads

/config/database.yml
/config/environments/appfog-proxied.rb
/config/environments/production.rb
/config/environments/development.rb

/db/seeds.rb
