/.bundle
/.DS_Store
/app/assets/.DS_Store

/.private

/db/*.sqlite3

/log/*.log
/tmp

/public/uploads

/config/database.yml
/config/environments/development.rb
/config/environments/production.rb
/config/environments/proxied-appfog.rb
/config/environments/test.rb

/db/seeds.rb

