<h1>You've been added as a stylist</h1>

<p>
You have been added as a stylist to <%= @salon.name %> on <%= link_to "Madrilla.com", root_url %>
</p>
<p>
	<%= @salon.name %> will now show up on your Madrilla profile page. Also, you will
	show up as a stylist on the salon's profile page.
</p>
<p>
	Congratulations! Now tell your clients they can book appointments
	with you at <%= @salon.name %> on Madrilla.com.
</p>

<hr/>

<p>
	Thank you for using Madrilla for your appointment booking needs.
</p>
