<% provide(:title, "Forgot Password") %>

<div class="row">
	<div class="span6 offset3">
	<h1>Forgot Password</h1>
    
		<%= form_tag password_reset_path, method: 'get' do %>
			<p>
				Please enter your email and click the button below. We will send
				you a unique link in your email that you can use to reset your password.
			</p>
			<%= label_tag :email %> 
			<%= email_field_tag :email %>
			<%= submit_tag "Request Password Reset", name: nil, class: "btn btn-large btn-primary" %>
		<% end %>
	</div> 
</div>
