<% provide(:title, "Password Reset") %>
<h1>Password Reset Request</h1>

<div class="row">
	<div class="span6 offset3">
			<p>
				We have sent an email with instructions for resetting your password. Please allow time for 
				that email to be delivered and follow the instructions for resetting your password.
			</p>
			<%= link_to "Click here to return to the home screen.", root_path %>
	</div> 
</div>
