<% provide(:title, 'All Salons') %>
<h1>Salons!</h1>

<%= will_paginate %>
<ul class="salons">

	<%= render @salons %>
	
</ul>

<%= link_to 'New Salon', new_salon_path if current_user.admin? %>
<%= will_paginate %>
