<% provide(:title, 'All Salons') %>
<h1>Madrilla Salon List</h1>
<p class="alert">
	Don't see the salon you're looking for listed here? You should
	tell your stylist about this web site. 
</p>

<%= will_paginate %>
<ul class="salons">

	<%= render @salons %>
	
</ul>

<%= link_to 'New Salon', new_salon_path if current_user.admin? %>
<%= will_paginate %>
