<% provide(:title, 'All Salons') %>

<div class="row">

	<section id="main_contents" class="span8 offset2">
		<h1>Salons</h1>

		<%= will_paginate %>

		<table>
			<%= render @salons %>
		</table>

		<%= link_to 'New Salon', new_salon_path if current_user.admin? %>
		<%= will_paginate %>
	</section>
</div>
