
<h1>Book Appointment at <%= @salon.name %></h1>


<h3>Select a Stylist</h3>
<% @salon.employees.each do |employee| %>
	<div>
		<%= image_tag employee.stylist.image_url(:thumb).to_s unless employee.stylist.image_url == nil %>
		<%= link_to employee.stylist.name, new_appointment_path(employee_id: employee.id) %>
	</div>

<% end %>