
<h1>You are in Select Stylist </h1>
<%= @salon.name %>

<h3>Select a Stylist</h3>
<!-- 
< % @salon.stylists.each do |stylist| % >
-->
<% @salon.employees.each do |employee| %>
	<div>
		<%= link_to employee.stylist.name, new_appointment_path(employee_id: employee.id) %>
	</div>

<% end %>