@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Parisienne);


$grayDarker: #333;
$gray: #bdc3c7;
$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayLighter: #ccc;
$grayLightest: rgb(229, 230, 236);
$blueMediumLight: #046C9C;

$mediumColor1: rgb(180, 99, 145);

$linkColor: rgb(182, 22, 182);
$topGradient: #3366cc;
$navBar: #a66a7f;

$blueLight: #D4E7EE;
$lightBlue: #66ccff;
$mediumBlue: #0066ff;
$yellowLight: #fcf8e3;
$yellowMedium: #C09853;
/* $blueMadrilla: #3c7db3; */
$blueMadrilla: rgb(41, 128, 185);
$greenMedium: #2ecc71;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizeing: border-box;
	box-sizing: border-box;
}

@mixin box_border {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}


.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

#faqs dd {
	padding-top: 10px;
	padding-bottom: 20px;
}

/* home screen */

.navbar-inner {
	background-color: $blueMadrilla;
	background-image: none;
	/*
	background-image: -webkit-linear-gradient(top, $topGradient, $blueMadrilla);
	background-image: -moz-linear-gradient(top, $topGradient, $blueMadrilla);	
	background-image: linear-gradient(top, $topGradient, $blueMadrilla);
	*/
}

.navbar .nav > li > a {
	color: rgb(218, 216, 216);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.flashy {
	/* width: 100%; */
	height:485px;
	color: white;
	background: url('salon-pic.jpg') no-repeat center top;
}


.hero-unit {
	h1 {
		font-family: 'Parisienne', cursive;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		padding-left: 12px;
	}
}

.container {
	width: 940px;
}

.shaded-background {
	padding: 20px;
	margin-left: 160px;
	min-height: 100px;
	background: rgba(187, 172, 172, 0.75);
	width: 400px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: 7px 7px 15px rgba(50, 50, 50, 0.57);
	-moz-box-shadow:    7px 7px 15px rgba(50, 50, 50, 0.57);
	box-shadow:         7px 7px 15px rgba(50, 50, 50, 0.57);
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	a {
		color: #465567;
		&:hover{ 
			color: #3c7db3;
		}
		&:visited {
			color: #465567;
		}
	}
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	margin-top: 30px;
	font-weight: bold;
	color: $blueMadrilla;
	/*  color: $mediumColor1; */
	/* text-shadow: rgb(0, 0, 50) 0px 1px 3px; */
}

h3 {
	font-size: 1.2em;
	margin-top: 16px;
	margin-bottom: 16px;
	font-weight: bold;
	margin-top: 30px;
	/* color: $mediumColor1; */
	color: $blueMadrilla;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


table {
	width: 100%;
}
/*
th {
	text-align: left;
	background-color: $grayLighter;
}
*/
td {
	padding: 4px;
	/* border-top: 1px solid #666; */
	color: $grayDarker;
}

/* header */

#logo {
	font-family: 'Parisienne', cursive;
	float: left;
	margin-right: 8px;
	margin-left: 2px;
	font-size: 1.7em;
	color: white;
	padding-top: 9px;
	padding-left: 10px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

	&:hover {
		color: white;
		text-decoration: none;
	}
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
	small {
		  float: left;
	}

	a {
		  color: $gray;
		  &:hover {
		  	color: $grayDarker;
		  }
	}
	ul {
	  float: right;
	  list-style: none;
		li {
		  float: left;
		  margin-left: 10px;
		}
	}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.8em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 14px;
      color: #34495e;
    }
    h2 {
    	font-size: 1.4em;
    	text-align: left;
    	margin: 8px;
    	color: $blueMadrilla;
    }
    td {
    	border: 0;
    }
  }
}


#wrapper {
	width: 920px;
	margin: 0 auto;
	text-align: left;
	background-color: #0088dd;
	clear:both;
}

.ajax_div {
	position: absolute;
	top: 125px;
	left: 120px;
	padding: 20px;
	margin: 10px;
	background-color: #0088dd;
	border: 1px dotted #d0e0f0;
	width: 880px;
	-moz-box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
	box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
	@include box_border;	
	h1 {
		color: white;
		margin-bottom: 4px;
		font-size: 1.6em;
		letter-spacing: 1px;
	}
}

.services_div {
	position: absolute;
	top: 125px;
	left: 220px;
	padding: 20px;
	margin: 10px;
	background-color: #3498db;
	border: 1px dotted #d0e0f0;
	width: 680px;
	-moz-box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
	box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
	@include box_border;	
	h1 {
		color: white;
		margin-bottom: 4px;
		font-size: 1.6em;
		letter-spacing: 1px;
	}
	h3 {
		color: rgb(230, 230, 230);
	}
}

.salon {
	padding-top: 10px;
	padding-left: 30px;
	float: left;
	width: 340px;
	color: #ffffff;
	border-bottom: 1px dotted #d0e0f0;
	border-right: 1px dotted #d0e0f0;
	padding-bottom: 10px;
	padding-left: 99px;
	cursor: hand;
	cursor: pointer;
	&:hover {
		background-color: #33334f;
	}
	&:nth-child(odd) {
		float: right;
		border-right: none;
	}
	h1 {
		margin-bottom: 4px;
	}
}

#salon_footer {
	clear: both;
	min-height: 20px;
}

.stylist2 {
	padding-top: 10px;
	padding-left: 30px;
	float: left;
	width: 340px;
	color: #ffffff;
	border-bottom: 1px dotted #d0e0f0;
	border-right: 1px dotted #d0e0f0;
	padding-bottom: 10px;
	padding-left: 99px;
	cursor: hand;
	cursor: pointer;
	&:hover {
		background-color: #33334f;
	}
	&:nth-child(odd) {
		float: right;
		border-right: none;
	}
	h1 {
		margin-bottom: 4px;
	}
}

.stylist_image {
	height: 90px;
}

#stylist_footer {
	clear: both;
	min-height: 20px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #999;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
  h2 {
		background-color: #ed5151;
	  color: #333;
  }
}

.field_with_errors {
  @extend .control-group;
  /* @extend .error; */
  background-color: #F3ACAC;
 }

 /* users index */


.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


.stylist {
	font-size: 110%;
	font-weight: bold;
	text-align: center;	
	padding: 6px 4px;
	@include box_sizing;	
}

.stylist_img {
	padding-top: 10px;
	padding-bottom: 8px;
}

.stylist_name {
	font-size: 110%;
	font-weight: bold;
}

.about_div {
	float: left;
	padding: 8px;
	/* border: 2px blue solid; */
}

.about_img {
	height: 290px;
	width: 200px;
	float: right;
	padding: 20px;
	font-weight: bold;
	color: black;
	background-color: $grayLight;
	vertical-align: bottom;
	/* border: 2px red solid; */
}

.smallBox {
	text-align: center;
	float: left;
	background-color: $blueLight;
	border: 1px solid #ccc;
	margin: 2px;
	padding: 8px;
	/* @include box_border;	 */

	h1 {
		font-size: 120%;
		margin: 2px;
	}
}

.user_details {
	position: relative;
	font-size: 80%;
	background-color: rgba(60, 60, 60, 0.5);
	color: white;
	vertical-align: bottom;
	margin: 0;
	padding: 4px;
	top: -16px;
	a {
		color: #f0f0f0;
	}
	h1 {
		margin: 2px;
		letter-spacing: 1px;
		font-weight: normal;
	}
}

.odd {
	background-color: $grayLightest;
	color: #666;
}

.even {
	background-color: $grayMediumLight;
	color: #666;
}

.m_info {
	font-size: 2.0em;
	padding: 20px;
	@include box_sizing;	
	text-align: left;
	border: 1px dotted $yellowMedium;
	@include box_border;
	background-color: $yellowLight;	
	color: $yellowMedium;
}

.appointment {
	background-color: $gray;
	padding: 10px;
	/* height: 400px; */
	td {
		vertical-align: top;
		text-align: center;
		font-size: 120%;
		h1 {
			font-size: 2.2em;
		}
	}
}

#appointment_history {
	clear: both; 
	padding: 20px;
}

.estimated_price {
	position: fixed;
	right: 60px;
	top: 75px;
	padding: 10px;
	border: solid 1px #e1e1e1;
	vertical-align: middle;
	background: $greenMedium;
	text-align: center;
	font-weight: bold;
}

#appointment_price {
	padding: 10px;
	display: inline;
	font-weight: bold;
}

.table_subtitle {
	background-color: $grayLighter;
	font-size: 70%;
	font-style: italic;

	td {
		border: none;
	}
}

.active {
	font-weight: bold;
}

#date_time_form {
	padding-top: 20px;
}

#new_stylist {
	background-color: $grayLighter;
	margin-top: 40px;
	padding: 2px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#salon_services {
	list-style: none;
	td {
		color: white;
		border-top: 1px solid rgb(180, 180, 180);
	}
}

#salon_selected {
	padding: 10px;
}

#estimated_cost {
	font-size: 20px;
	font-weight: bold;
	color: $mediumBlue;
}

#service_total {
	display: inline;
	color: $mediumBlue;
}

.custom_form {
	background-color: $grayLightest;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
}